/* custom css file goes here */ 


/* Keyframe scripts */
@keyframes slide-in-from-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
}

@keyframes slide-in-from-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
}

@keyframes fadeIn { 
	0% {opacity: 0;} 
    100% {opacity: 1;} 

}     

.middle{
    margin-top: 23%;
}

h1{
    animation-name: fadeIn;
    animation-duration: 2;
}

a, p, h1 {
    animation-name: fadeIn;
    animation-duration: 2;
}






